<div class="card">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th>Id</th>
            <td>{{commande.id}}</td>
          </tr>
          <tr>
            <th>Utilisateur</th>
            <td>{{commande.utilisateur}}</td>
          </tr>
          <tr>
            <th>Produits</th>
            <td>
              <table>
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produit of commande.produits">
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.prixUnitaire }}</td>
                    <td>{{ produit.quantite }}</td>
                    </tr>
                    </tbody>
                    </table>
                    </td>
                    </tr>
                    <tr>
                    <th>Somme total</th>
                    <td>{{commande.prixTotal}}</td>
                    </tr>
                    </tbody>
                    </table>
                    
                      </div>
                    </div>
  